/*
Challenge:
1. Center the text and button
2. Style the button according to the design.
   Use a class to select the button.
*/

/*
Challenge 2:
Select the logo using its "id", and reduce its
width to a suitable level.
*/

/*
Challenge:
Wrap the "hero" section (title, button, logo) in a <div>
and set its background image to the galaxy image. This will 
force you to also add some padding on the "hero" <div>.

Add a "Terms and conditions apply" <h3> below the "hero"
section.

PS: your layout will likely be disturbed by the <body> 
tag's default margin.
*/

/*
Challenge:
Add a blurred border around the <h1> using
the text-shadow technique you just learned. Set
the blur to 4px and the color to black.
*/

body {
    margin: 0;
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}
   
#hero {
    color: #bbc7d4;
    background-image: url(space-animation.gif);
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
    padding: 10px 0 40px 0;  
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: inherit;
    color: #82a5ca;
    font-weight: bold;

}

.underline {
    border-bottom: 4px solid white;
    
}

#title {
    text-shadow: 0px 0px 5px black
}

#main-logo {
    width: 150px;
}

/* Space Exploration Site Completed */